
{% load staticfiles %}

<!DOCTYPE html><html><head><meta charset=utf-8><meta name=viewport content="width=device-width,initial-scale=1"><script src=https://cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts.min.js></script><title>格子网塾</title><link href="{% static 'dist/css/app.a332d4c0fc7802c2d12ede532d162d9b.css' %}" rel=stylesheet></head><body><div id=app></div><script type=text/javascript src="{% static 'dist/js/manifest.3ad1d5771e9b13dbdad2.js' %}"></script><script type=text/javascript src="{% static 'dist/js/vendor.a06910c7151e479947c9.js' %}"></script><script type=text/javascript src="{% static 'dist/js/app.681f14414508abb17d1c.js' %}"></script></body></html>

