<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>格子网塾_教师端</title>
    <link href=/static/dist/teacher/css/app.294a957c81522f9140bfba6afd13dd8e.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src=/static/dist/teacher/js/manifest.9e788430cd403fc8734d.js></script>
<script type=text/javascript src=/static/dist/teacher/js/vendor.c624c489b35c57751d0e.js></script>
<script type=text/javascript src=/static/dist/teacher/js/app.9b91bbd30b0fa7be2037.js></script>
</body>
</html>