
{% load staticfiles %}

<!DOCTYPE html><html><head><meta charset=utf-8><meta name=viewport content="width=device-width,initial-scale=1"><title>格子网塾</title><link href="{% static 'dist/css/app.f225e0347f95e7c82b92af2944e07486.css' %}" rel=stylesheet></head><body><div id=app></div><script type=text/javascript src="{% static 'dist/js/manifest.3ad1d5771e9b13dbdad2.js' %}"></script><script type=text/javascript src="{% static 'dist/js/vendor.3b7aea4d7290dce5575f.js' %}"></script><script type=text/javascript src="{% static 'dist/js/app.0a0b4186f8911a4c00c1.js' %}"></script></body></html>

