
{% load staticfiles %}

<!DOCTYPE html><html><head><meta charset=utf-8><meta name=viewport content="width=device-width,initial-scale=1"><title>格子网塾</title><link href="{% static 'dist/css/app.86d32c57b84076701d043fa579fd1e39.css' %}" rel=stylesheet></head><body><div id=app></div><script type=text/javascript src="{% static 'dist/js/manifest.3ad1d5771e9b13dbdad2.js' %}"></script><script type=text/javascript src="{% static 'dist/js/vendor.333789c3421fd6906095.js' %}"></script><script type=text/javascript src="{% static 'dist/js/app.0324e981f483e66938d4.js' %}"></script></body></html>

